.nav-link {
    color: rgba(0, 0, 0, 0.55);
}

.about-me {
    @media only screen and (min-width: 1024px) {
        padding-right: 30px;
    }
}

.home {
    position: relative;

    a:after {
        display: block;
        width: 15px;
        height: 15px;
        content: url(../assets/house-solid.svg);
        position: absolute;
        top: 0;
        right: auto;
        left: 50px;
        

        @media only screen and (min-width: 1024px) {
            right: 50px;
            left: -20px;
        }
    }
}

.navbar-nav {
    .router-link-active.router-link-exact-active {
        color: black;
    }
}

.portfolio, .container {
    margin: 30px 0 !important;

    @media only screen and (min-width: 1024px) {
        margin: 0 !important;
    }
}

.floatButton {
    position: fixed;
    padding: 0 30px 0 20px;
    margin: 0 40px 0 20px;
    bottom: 20px;
    left: auto;
    right: 40px;
    height: 40px;
    z-index: 1000;

    a {
        text-decoration: none;
    }

    &:hover {
        a {
            color: white;
        }
    }
}

.lead {
    list-style: none;
}

.methods {
    padding-left: 0;

    li {
        padding: 10px 0 10px 10px;
        cursor: pointer;
        width: 100%;

        &:hover {
            a {
                color: white;
            }
        }

        &.bg-success:hover {
            background-color: #198754 !important;
        }

        &.bg-info:hover {
            background-color: #0769F0 !important;
        }

        &.bg-danger:hover {
            background-color: #dc3545 !important ;
        }

        &.bg-warning:hover {
            background-color: #FF9226 !important;
        }
    }

    a {
        text-decoration: none;
        display: block;
    }
}

.avatar {
    &_textWrapper {
        display: none;
        margin-top: 50px;

        @media only screen and (min-width: 1024px) {
            display: flex;
        }
    }

    &Wrapper {
        display: none;
        height: 100vh;
        width: auto;
    
        @media only screen and (min-width: 1024px) {
            display: block;
        }

        &Mobile {
            display: block;

            @media only screen and (min-width: 1024px) {
                display: none;
            }
        }
    }

    &_hand {
        text-align: center
    }

    &_img {
        width: auto;
        height: 25%; 
    }
}

.avatarWrapper > img { 
    position: absolute;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear forwards 0s;
    -moz-animation: imageAnimation 30s linear forwards 0s;
    -o-animation: imageAnimation 30s linear forwards 0s;
    -ms-animation: imageAnimation 30s linear forwards 0s;
    animation: imageAnimation 30s linear forwards 0s; 
}

.avatarWrapper > img:nth-child(2)  { 
    background-image: url('../assets/me-start.png');
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s; 
    animation-duration: 2s;
}

.avatarWrapper > img:nth-child(3) { 
    background-image: url('../assets/me-welcome.png');
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
    animation-duration: 5s; 
}

.avatarWrapper > img:nth-child(4) { 
    background-image: url('../assets/me-with-arrow.png');
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    -ms-animation-delay: 5s;
    animation-delay: 5s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    18% { opacity: 1 }
    100% { opacity: 1 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    18% { opacity: 1 }
    100% { opacity: 1 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    18% { opacity: 1 }
    100% { opacity: 1 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    18% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    18% { opacity: 1 }
    100% { opacity: 1 }
}

.sketchesInteractionDesign {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 80%
    }
}

.centerText {
    width: fit-content;
    margin: 0 auto;
}


.usabilityTest {
    text-align: center;

    img {
        width: 50%;
        height: auto;
    }

    &Structure {
        li {
            list-style: circle;
        }
    }

    &DeptInterview {
        padding-top: 50px !important;

        &-Hotels {
            span {
                text-align: center;
            }
            
            .depthInterview {
                text-align: center;
            
                img {
                    width: 20%;
                    height: auto;
                }
            }
        }
    }
}

.depthInterview-Notes {
    text-align: center;

    img {
        width: 70%;
        height: auto;
    } 
}

.card {
    position: relative;
    margin: 0 auto; 
    padding: 0;

    img {
        vertical-align: middle;
    }
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    color: #ffffff;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;

    @media only screen and (min-width: 1024px) {
        background: rgba(0, 0, 0, 0.2);
    }

    &-text {
        background: rgba(0, 0, 0, 0.7); 
        padding: 10px 20px;
        font-weight: 200;
        height: 100%;

        @media only screen and (min-width: 1024px) {
            height: auto;
        }
    }

    .customerJourneyMap & {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .card-img-overlay-text {
            padding: 25px;
        }

        .miroButton {
            border: 2px solid black;

            a {
                color: black;
            }
        }
    }
}

.buttonStyle {
    &, &:hover {
        border: 1px solid black;
    }
    
    a {
        text-decoration: none;
    }
}

.lead.keyTakeaways {
    margin-bottom: 0;
}

.userFlowSketch, .userFlowFigma {
    .col-md-6 {
        padding: 0;
    }

    .card-img-overlay-text {
        padding: 20px;
        height: auto;
    }

    img {
        border-radius: 0.375rem;
    }
}

.thanks {
    border-radius: 30px;
    a {
        color: black;
    }
}

.arowBackTop {
    position: relative;
    color: white;
    display: block;
    
    &:after {
        display: inline-block;
        width: 15px;
        height: 15px;
        content: '';
        background-color: white;

        mask: url(../assets/arrow-up-solid.svg) no-repeat center;
        -webkit-mask: url(../assets/arrow-up-solid.svg) no-repeat center;
        mask-size: cover;
        -webkit-mask-size: cover;
        -webkit-mask-size: 70%;
        mask-size: 70%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        position: absolute;
        right: -15px;
        top: 10px;
    }
}
