// body {
//     background: #C3FFFF;
// }

.offcanvas-backdrop {
    background-color: transparent;
}

main, .portfolio {
    margin-top: 100px;
}

.lead {
    list-style: none;
}

.methods {
    padding-left: 0;

    li {
        padding: 10px 0 10px 10px;
    }
}
